{
  "verifyConditions": [
    "@iteratec/semantic-release-docker",
    {
      "path": "@semantic-release/changelog",
      "changelogFile": "CHANGELOG.md"
    },
    "@semantic-release/npm",
    "@semantic-release/git"
  ],
  "prepare": [
    {
      "path": "@iteratec/semantic-release-docker",
      "imageName": "github-backup-cli",
      "repositoryName": "endemolshine"
    },
    {
      "path": "@semantic-release/changelog",
      "changelogFile": "CHANGELOG.md"
    },
    "@semantic-release/npm",
    "@semantic-release/git"
  ],
  "publish": [
    {
      "path": "@iteratec/semantic-release-docker"
    }
  ]
}
